.app .course-select-action-wrap .form-select {
  width: 200px;
  margin: 0 16px;
}
.app .pagination-nav {
  display: flex;
  justify-content: flex-end;
}
.app .pagination-nav .form-select {
  width: fit-content;
  height: fit-content;
  margin-right: 15px;
}
.app .hero-section {
  animation: fadeIn 1s ease-in-out;
}
.app .courses-section {
  animation: slideUp 1s ease-in-out 0.5s both;
}
.app .card:hover {
  transform: scale(1.05);
}
.app .cta-section {
  animation: fadeIn 1s ease-in-out 1s both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
